body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

canvas {
  background: #fdf5dc;
  margin-top: 10px;
  border: 2px solid #333;
}

h1 {
  color: #222;
}

#turn {
  font-weight: bold;
  color: darkred;
}
